* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f0f4f8;
    color: #2c3e50;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Utility Classes */
.hidden {
    display: none;
}

/* Landing Page Styles */
.landing-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #641c20, #256c7c);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.landing-content {
    position: relative;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.landing-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(219, 196, 196);
}

.landing-content p1 {
    font-size: 1.2rem;
    font-style: italic;
    color: #3d0505;
}

.landing-description {
    margin: 20px 0;
    line-height: 2;
    font-size: 1rem;
}

#startButton {
    background-color: #460707a8;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#startButton:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(173, 94, 94);
}

/* Akan Generator Styles */
.akan-generator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c45507e;
    padding: 20px;
}


.container {
    background-color: #7e839bab;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-family:'Times New Roman';
    width: 100%;
    max-width: 450px;
    padding: 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    color: #490f0f;
    margin-bottom: 15px;
    font-weight: 600;
}

p {
    color: #000000;
    margin-bottom: 25px;
}
